.divider__wrapper {
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.5);
}

.divider {
	overflow-y: auto;
	overflow-x: hidden;

	position: fixed;

	padding: 20px;

	width: 35%;
	height: 100%;
	right: 0;

	background-color: #fff;
}

.divider__close {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 10px;
	color: black;
	z-index: 10;
}
.divider__close:hover {
	scale: 1.05;
}

.divider__close:active {
	scale: 0.95;
}

ul {
	list-style: none;
}

.divider__day-head {
	width: 100%;
	text-align: left;
	margin: 0 auto;
	display: block;
	font-weight: normal;
	font-style: italic;
	border-radius: var(--radius);
	background-color: var(--primary-light);
	padding: 5px 10px;
	word-wrap: break-word;
}

.divider__days-list {
	margin-top: 15px;
	text-align: center;
	.divider__day {
		margin-bottom: 10px;
	}
}

.divider__day {
	background-color: var(--blue-light);
	border-radius: var(--radius);
}

.divider__button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.divider__button:hover {
	transform: scale(1.05);
}

.divider__button:active {
	transform: scale(0.95);
}

.divider__animate {
	animation: dividerAnimate 0.35s ease-in;
}

.divider__animate-remove {
	animation: removeDivider .35s ease-in-out;
	animation-fill-mode: forwards; 
}

@keyframes removeDivider {
	from {
		opacity: 1;
		transform: translateX(0px);
	}
	to {
		transform: translateX(1000px);
		opacity: 0;
	}
}

@keyframes dividerAnimate {
	from {
		transform: translateX(1000px);
	}
	to {
		transform: translateX(0px);
	}
}

@media (max-width: 430px) {
	.divider {
		width: 70%;
	}
}
