.completed {
	text-decoration: line-through;
}

.modal__content-item-title {
  position: relative;
	display: flex;
	justify-content: space-between;
	gap: 10px;
  margin-bottom: 5px;

	p {
		font-size: 20px;
	}
}

.modal__content-item-descr {
	color: #000000a2;
}


.modal__content-item-title:after {
	position: absolute;
	content: '';
	background-color: white;
	bottom: -2px;
	right: 0;
	left: 0;
	height: 2px;
}


.modal__content-item-delete {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		font-size: 20px;
	}
}


.modal__content-item-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	input {
		cursor: pointer;
	}
	
}