.completed {
	text-decoration: line-through;
}

.calendar__cells-cell-tasks {
	width: 100%;
}

.calendar__cells-cell-tasks-item {
	overflow: hidden;
	width: 100%;
	border: 1px solid orange;
	border-radius: var(--radius);
	padding: 3px 7px;
	margin-bottom: 4px;
}