.completed {
	text-decoration: line-through;
}

.calendar__cells-cell-tasks {
	width: 100%;
}

.calendar__cells-cell-tasks-item {
	font-size: 14px;
	overflow: hidden;
	width: 100%;
	border-radius: var(--radius);
	padding: 3px 7px;
	margin-bottom: 4px;
	span {
		color: var(--blue);
	}
}